<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDo2tBMKPzlboOAQVwCSDHFHwHb7LW-gPc</string>
	<key>GCM_SENDER_ID</key>
	<string>451073764534</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oceanblue.application</string>
	<key>PROJECT_ID</key>
	<string>oceanblue-app</string>
	<key>STORAGE_BUCKET</key>
	<string>oceanblue-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:451073764534:ios:cbf23148ed6eb5866e8a17</string>
</dict>
</plist>